.diy-bar {
  position        : fixed;
  width           : 100%;
  height          : 40px;
  top             : 0;
  left            : 0;
  background-color: #20222A;
  z-index         : 9999;
  line-height     : 40px;
  display         : none;
  font-size       : 16px;

  .inner {
    margin: 0 20px;
  }

  .title {
    color       : #fff;
    margin-right: 20px;
  }

  .grid-list {
    position        : fixed;
    top             : 40px;
    left            : 0;
    width           : 100%;
    height          : calc(100vh - 40px);
    background-color: rgba(0,0,0,0.6);
    box-shadow      : 0 0 2px #ccc;
    display         : none;

    .swiper-container {
      height          : 200px;
      padding         : 0 20px;
      background-color: #fff;

      .swiper-slide {
        .slide-inner {
          background-color   : #CCC;
          background-position: center;
          background-size    : cover;
          height             : calc(100% - 40px);
          margin-top         : 20px;
          cursor             : pointer;
          position           : relative;

          .bg {
            position        : absolute;
            width           : 100%;
            height          : 100%;
            background-color: rgba(0,0,0,0.6);
            color           : #fff;
            text-align      : center;
            visibility      : hidden;
            opacity         : 0;
            transition      : $tr4;

            h2 {
              font-size    : 18px;
              text-shadow  : 0 0 2px #000;
              line-height  : 1em;
              margin-bottom: 10px;
            }

            button {
              background-color: #eee;
              border          : 0;
              font-size       : 14px;
              line-height     : 2em;
              padding         : 0 1em;
              border-radius   : 5px;
              transition      : $tr4;
              outline         : none;

              i {
                padding-right: .5em;
              }

              &:hover {
                background-color: #ccc;
                transition      : $tr4;
              }
            }
          }

          &:hover {
            .bg {
              visibility: visible;
              opacity   : 1;
              transition: $tr4;
            }
          }
        }
      }

      .swiper-pagination {
        bottom     : 0;
        line-height: 0;
        padding    : 6px 0;
      }
    }
  }

  a {
    background-color: #eee;
    padding         : 5px 10px;
    border-radius   : 3px;
    transition      : $tr4;
    font-size       : 14px;
    overflow        : hidden;

    i {
      padding-right: .5em;

      &.fa-ruler {
        background     : url("../img/ruler/ruler-50.png") no-repeat;
        position       : relative;
        background-size: contain;
        width          : 1em;
        height         : 1em;
        transform      : translateY(2px);
      }
    }

    &:hover {
      background-color: #ccc;
      transition      : $tr4;
    }
  }
}

.add-widget-bg {
  position        : fixed;
  z-index         : 1000;
  left            : 0;
  top             : 0;
  width           : 100vw;
  height          : 100vh;
  background-color: rgba(0,0,0,0.6);
}

.add-widget-form {
  position        : fixed;
  z-index         : 1000;
  left            : 50%;
  top             : 50%;
  min-width       : 500px;
  padding         : 20px;
  transform       : translateX(-50%) translateY(-50%);
  background-color: #fff;
  border-radius   : 5px;

  .add-widget-form-close {
    width           : 20px;
    height          : 20px;
    border-radius   : 100%;
    position        : absolute;
    right           : -5px;
    top             : -5px;
    background-color: #fff;
    box-shadow      : 0 0 2px #333;
    line-height     : 20px;
    text-align      : center;
    cursor          : pointer;
    transition      : $tr4;

    &:hover {
      transform : rotate(90deg);
      transition: $tr4;
    }
  }

  .form-item {
    line-height: 3em;
    position   : relative;
    margin     : 5px 0;

    label {
      width   : 6em;
      display : block;
      position: absolute;
      left    : 0;
      top     : 0;
    }

    input {
      &[type=text] {
        width        : calc(100% - 7em);
        margin-left  : 6em;
        padding      : 0 .5em;
        border       : 0;
        line-height  : 3em;
        height       : 3em;
        outline      : none;
        border       : 1px solid #ccc;
        border-radius: 5px;
      }
    }

    select {
      width             : calc(100% - 6.5em - 14px);
      margin-left       : 6em;
      border            : solid 1px #ccc;
      padding           : 0 .5em;
      appearance        : none;
      -moz-appearance   : none;
      -webkit-appearance: none;
      background        : url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll right center transparent;
      padding-right     : 14px;
      line-height       : 3em;
      outline           : none;
      border-radius     : 5px;

      &::-ms-expand {
        display: none;
      }

      option {
        appearance        : none;
        -moz-appearance   : none;
        -webkit-appearance: none;
        padding-top       : 1em;
        padding-bottom    : 1em;
        line-height       : 3em;
      }
    }
    // .styled-select {
    //   width      : calc(100% - 6em);
    //   margin-left: 6em;
    //   overflow   : hidden;
    //   background : url("new_arrow.png") no-repeat right #ddd;
    //
    //   select {
    //     background        : transparent;
    //     width             : 100%;
    //     padding           : 0 5px;
    //     border            : 1px solid #ccc;
    //     height            : 3em;
    //     -webkit-appearance: none;
    //     /*for chrome*/
    //   }
    // }
  }
}