.diy-bar {
  position        : fixed;
  width           : 100%;
  height          : 40px;
  top             : 0;
  left            : 0;
  background-color: #20222A;
  z-index         : 9999;
  line-height     : 40px;
  display         : none;
  font-size       : 16px;

  .inner {
    margin: 0 20px;
  }

  .title {
    color       : #fff;
    margin-right: 20px;
  }

  .grid-list {
    position        : fixed;
    top             : 40px;
    left            : 0;
    width           : 100%;
    height          : calc(100vh - 40px);
    background-color: rgba(0,0,0,0.6);
    box-shadow      : 0 0 2px #ccc;
    display         : none;

    .swiper-container {
      height          : 200px;
      padding         : 0 20px;
      background-color: #fff;

      .swiper-slide {
        .slide-inner {
          background-color   : #CCC;
          background-position: center;
          background-size    : cover;
          height             : calc(100% - 40px);
          margin-top         : 20px;
          cursor             : pointer;
          position           : relative;

          .bg {
            position        : absolute;
            width           : 100%;
            height          : 100%;
            background-color: rgba(0,0,0,0.6);
            color           : #fff;
            text-align      : center;
            visibility      : hidden;
            opacity         : 0;
            transition      : $tr4;

            h2 {
              font-size    : 18px;
              text-shadow  : 0 0 2px #000;
              line-height  : 1em;
              margin-bottom: 10px;
            }

            button {
              background-color: #eee;
              border          : 0;
              font-size       : 14px;
              line-height     : 2em;
              padding         : 0 1em;
              border-radius   : 5px;
              transition      : $tr4;
              outline         : none;

              i {
                padding-right: .5em;
              }

              &:hover {
                background-color: #ccc;
                transition      : $tr4;
              }
            }
          }

          &:hover {
            .bg {
              visibility: visible;
              opacity   : 1;
              transition: $tr4;
            }
          }
        }
      }

      .swiper-pagination {
        bottom     : 0;
        line-height: 0;
        padding    : 6px 0;
      }

      .swiper-button-prev {
        left           : 0;
        width          : 20px;
        background-size: 17px 34px;
        z-index        : 2;
      }

      .swiper-button-next {
        right          : 0;
        width          : 20px;
        background-size: 17px 34px;
        z-index        : 2;
      }
    }
  }

  a {
    background-color: #eee;
    padding         : 5px 10px;
    border-radius   : 3px;
    transition      : $tr4;
    font-size       : 14px;
    overflow        : hidden;

    i {
      padding-right: .5em;

      &.fa-ruler {
        background     : url("../img/ruler/ruler-50.png") no-repeat;
        position       : relative;
        background-size: contain;
        width          : 1em;
        height         : 1em;
        transform      : translateY(2px);
      }
    }

    &:hover {
      background-color: #ccc;
      transition      : $tr4;
    }
  }
}

.add-widget-bg {
  position        : fixed;
  z-index         : 1000;
  left            : 0;
  top             : 0;
  width           : 100vw;
  height          : 100vh;
  background-color: rgba(0,0,0,0.6);
}

.add-widget-form {
  position        : fixed;
  z-index         : 1000;
  left            : 50%;
  top             : 50%;
  min-width       : 500px;
  padding         : 20px;
  transform       : translateX(-50%) translateY(-50%);
  background-color: #fff;
  border-radius   : 5px;

  .add-widget-form-close {
    width           : 20px;
    height          : 20px;
    border-radius   : 100%;
    position        : absolute;
    right           : -5px;
    top             : -5px;
    background-color: #fff;
    box-shadow      : 0 0 2px #333;
    line-height     : 20px;
    text-align      : center;
    cursor          : pointer;
    transition      : $tr4;

    &:hover {
      transform : rotate(90deg);
      transition: $tr4;
    }
  }

  .form-item {
    line-height: 3em;
    height     : 3em;
    position   : relative;
    margin     : 10px 0;

    label {
      width   : 6em;
      display : block;
      position: absolute;
      left    : 0;
      top     : 0;
    }

    input {
      &[type=number],
      &[type=text] {
        width        : calc(100% - 7em);
        margin-left  : 6em;
        padding      : 0 .5em;
        border       : 0;
        line-height  : 3em;
        height       : 3em;
        outline      : none;
        border       : 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .cssSelect {
      width      : calc(100% - 6em);
      margin-left: 6em;
      float      : none;

      .selectBox {
        border-radius: 5px;
      }

      .optionsBox {
        width        : calc(100% - 4px);
        border-radius: 0 0 5px 5px;
      }
    }

    .radio {
      width: 100%;

      span {
        display       : inline-block;
        width         : 1.5em;
        height        : 1.5em;
        border        : 1px solid #ccc;
        border-radius : 100%;
        margin-left   : 1em;
        vertical-align: middle;
        position      : relative;

        &::before {
          content         : "";
          width           : 8px;
          height          : 8px;
          background-color: #ccc;
          display         : inline-block;
          border-radius   : 100%;
          position        : absolute;
          left            : 50%;
          top             : 50%;
          transform       : translateX(-50%) translateY(-50%);
          visibility      : hidden;
          opacity         : 0;
          transition      : $tr4;
        }
      }
    }

    input[type="checkbox"]:checked + label > span {
      &::before {
        visibility: visible;
        opacity   : 1;
        transition: $tr4;
      }
    }

    button {
      width           : 100%;
      line-height     : 3em;
      border-radius   : 5px;
      border          : 1px solid #ccc;
      background-color: #ccc;
      transition      : $tr4;
      outline         : none;

      &:hover {
        background-color: #aaa;
        transition      : $tr4;
      }
    }
    // .styled-select {
    //   width      : calc(100% - 6em);
    //   margin-left: 6em;
    //   overflow   : hidden;
    //   background : url("new_arrow.png") no-repeat right #ddd;
    //
    //   select {
    //     background        : transparent;
    //     width             : 100%;
    //     padding           : 0 5px;
    //     border            : 1px solid #ccc;
    //     height            : 3em;
    //     -webkit-appearance: none;
    //     /*for chrome*/
    //   }
    // }
  }

  .row {
    box-sizing            : border-box;
    display               : -ms-flexbox;
    display               : -webkit-flex;
    display               : flex;
    -ms-flex              : 0 1 auto;
    -webkit-flex          : 0 1 auto;
    flex                  : 0 1 auto;
    -ms-flex-direction    : row;
    -webkit-flex-direction: row;
    flex-direction        : row;
    -ms-flex-wrap         : wrap;
    -webkit-flex-wrap     : wrap;
    flex-wrap             : wrap;

    .form-item {
      width        : 49%;
      box-sizing   : border-box;
      flex         : 0 0 auto;
      padding-right: .5rem;
      padding-left : .5rem;
    }
  }
}