footer {
  background-color: #f6f6f6;
  position        : relative;
  z-index         : 5;

  .footer-about {
    font-size    : 16px;
    border-bottom: 2px solid #666;
  }

  .link {
    position   : relative;
    line-height: 26px;

    .item {
      border-bottom: 1px solid #e3e3e3;

      .tit {
        position   : absolute;
        left       : 0;
        font-size  : 16px;
        color      : #555;
        font-weight: bold;
      }

      .inner {
        padding-left: 100px;
        color       : #666;
        font-size   : 0;
        line-height : 0;

        a {
          color      : #666;
          display    : inline-block;
          line-height: 26px;
          font-size  : 12px;
        }

        span {
          line-height: 26px;
          font-size  : 12px;
          display    : inline-block;
        }
      }
    }
  }

  .footer-info {
    line-height: 24px;
    color      : #666;

    a {
      transition: $tr4;

      &:hover {
        color     : #666;
        transition: $tr4;
      }
    }
  }
}