.header-bar {
  height          : 40px;
  background-color: #f6f6f6;
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 100%;
  z-index         : 5;
  line-height     : 40px;
  box-shadow      : 0 0 1px #ebe8e8;
  color           : #666;
  font-size       : 12px;

  a {
    color     : #666;
    transition: $tr4;

    &:hover {
      color     : #000;
      transition: $tr4;
    }
  }

  .fr {
    font-size  : 0;
    line-height: 0;

    a,
    span {
      font-size  : 12px;
      line-height: 40px;
    }

    span {
      padding: 0 5px;
    }

    i {
      padding-right: 5px;
    }
  }
}

main {
  padding-top: 40px;
  transition : $tr4;
  min-height : calc(100vh - 50px);
}

.diy {
  .diy-bar {
    display: block;
  }

  .header-bar {
    top: 40px;
  }

  main {
    padding-top: 80px;
    min-height : calc(100vh - 90px);
  }

  &.hasRuler {
    .header-bar {
      top: 58px;
    }

    main {
      padding-top: 98px;
      min-height : calc(100vh - 108px);
    }
  }
}