.news-module {
  &.isSwitch {
    .switch-tit {
      font-size  : 0;
      line-height: 0;
      height     : 40px;

      &.tittType3 {
        border-bottom: 1px solid #ddd;

        a {
          display     : inline-block;
          height      : 40px;
          border-top  : 2px solid #fff;
          border-right: 1px solid #fff;
          font-size   : 16px;
          line-height : 38px;
          color       : #1d71b7;
          padding     : 0 1em;

          &.on {
            border-top   : 2px solid #1d71b7;
            border-right : 1px solid #eee;
            border-bottom: 1px solid #fff;
          }

          &:first-child {
            border-right: 1px solid #eee;
          }
        }
      }
    }

    ul {
      display: none;

      &.on {
        display: block;
      }

      li {
        a {
          line-height: 30px;
          display    : block;
          font-size  : 14px;
          color      : #252525;

          i {
            font-style   : normal;
            padding-right: 0.5em;
          }
        }
      }
    }
  }
}