.news_pic {
  .grid-stack-item-inner {
    width : 100%;
    height: 100%;
  }

  .swiper-container {
    height: calc(100% - 10px);
    width : 100%;

    .swiper-slide {
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : cover;

      a {
        display : block;
        position: relative;
        height  : 100%;

        .title {
          display         : block;
          background-color: rgba(0,0,0,0.5);
          position        : absolute;
          bottom          : 0;
          left            : 0;
          width           : calc(100% - 20px);
          padding         : 0 10px;
          color           : #fff;
          font-size       : 16px;
          line-height     : 40px;
          text-align      : center;
        }
      }
    }

    .swiper-pagination {
      bottom    : 50px;
      text-align: right;

      .swiper-pagination-bullet {
        width     : 10px;
        height    : 10px;
        opacity   : 1;
        background: #dddddd;

        &.swiper-pagination-bullet-active {
          background: #1d71b7;
        }
      }
    }
  }

  .news_pic_left {
    background-position: center;
    background-size    : cover;
    display            : block;
    position           : absolute;
    width              : 22px;
    height             : 40px;
    left               : 0;
    top                : 50%;
    margin-top         : -20px;
    z-index            : 2;
    cursor             : pointer;
  }

  .news_pic_right {
    background-position: center;
    background-size    : cover;
    display            : block;
    position           : absolute;
    width              : 22px;
    height             : 40px;
    right              : 0;
    top                : 50%;
    margin-top         : -20px;
    z-index            : 2;
    cursor             : pointer;
  }
}