.index {}

.i-tit {
  height       : 40px;
  margin-top   : 0;
  line-height  : 40px;
  border-top   : 1px solid #e5e5e5;
  font-family  : "Microsoft YaHei";
  margin-bottom: 10px;

  .tit {
    font-size : 20px;
    color     : $blue;
    display   : inline-block;
    border-top: 2px solid $blue;
    margin-top: -2px;
    padding   : 0 .5em;
  }

  a {
    float    : right;
    color    : #8590a6;
    font-size: 14px;
  }
}