.name_list_left {
  width : 100%;
  border: 0;

  td,
  tr {
    border       : 0;
    border-bottom: 1px solid #e5e5e5;

    a {
      color: #3fa0f9;
    }
  }

  tr {
    line-height: 50px;

    td {
      padding  : 0 15px;
      font-size: 14px;

      .time {
        font-size: 12px;
        color    : #666;
      }
    }

    &:first-child {
      line-height: 38px;
    }
  }
}

.name-info {
  .inner {
    border: 1px solid #e5e5e5;

    .title {
      font-size    : 18px;
      color        : #333333;
      font-weight  : bold;
      line-height  : 1em;
      border-bottom: 1px solid #eee;
    }

    .content {
      font-size  : 14px;
      line-height: 30px;
      color      : #333;
    }

    .next {
      line-height: 24px;
      color      : #666;
      border-top : 1px solid #eee;

      a {
        color     : #666;
        transition: $tr4;

        &:hover {
          color     : #999;
          transition: $tr4;
        }
      }
    }
  }
}

.complaint-info {
  .title {
    font-size  : 24px;
    font-weight: bold;
    color      : #333;
  }

  .time {
    color    : #666;
    font-size: 14px;
  }

  .content {
    line-height: 24px;
    color      : #333;

    b,
    strong {
      font-weight: bold;
    }
  }

  .form {
    line-height: 24px;
    font-size  : 14px;

    .form-item {
      border-top: 1px dashed #e5e5e5;

      .option-tit {
        overflow: hidden;

        span {
          display: block;
          float  : left;
          width  : 30px;
        }

        i {
          color     : #f93d3e;
          font-style: normal;
        }
      }

      .option-list {
        padding-left: 30px;

        label {
          position    : relative;
          padding-left: 20px;
          display     : inline-block;
        }

        input[type=radio] {
          appearance    : radio;
          vertical-align: middle;
          position      : absolute;
          left          : 0;
          top           : 50%;
          margin-top    : -7px;
        }

        input[type=checkbox] {
          appearance    : checkbox;
          vertical-align: middle;
          position      : absolute;
          left          : 0;
          top           : 50%;
          margin-top    : -7px;
        }

        textarea {
          resize : none;
          border : 1px solid #e5e5e5;
          outline: none;
        }

        &.checkbox {
          &.col-7 {
            label {
              width: calc(18% - 30px);
            }
          }

          &.col-2 {
            label {
              width       : calc(50% - 30px);
              margin-right: 0;
            }
          }
        }

        button[type=submit] {
          background-color: #1479d7;
          color           : #fff;
          border          : 0;
          border-radius   : 5px;
          padding         : 0 30px;
          height          : 40px;
          font-size       : 16px;
          outline         : none;
        }

        button[type=reset] {
          background-color: #ccc;
          color           : #fff;
          border          : 0;
          border-radius   : 5px;
          padding         : 0 30px;
          height          : 40px;
          font-size       : 16px;
          outline         : none;
        }
      }
    }
  }
}

.tousu-info {
  .content {
    line-height: 24px;
    color      : #333;

    b,
    strong {
      font-weight: bold;
    }
  }

  .must-read {
    background-color: #f4f4f8;

    .tit {
      color              : #1479d7;
      font-size          : 16px;
      font-weight        : bold;
      background-image   : url("../img/must_read.png");
      background-repeat  : no-repeat;
      background-position: left center;
      padding-left       : 20px;
    }
  }

  .tousu-tit {
    font-size: 16px;

    &::after {
      width           : 2em;
      height          : 2px;
      content         : "";
      display         : block;
      background-color: #3185cb;
      margin          : 10px auto 0;
    }
  }

  form {
    input[type=radio] {
      appearance    : radio;
      vertical-align: middle;
      position      : absolute;
      left          : 0;
      top           : 50%;
      margin-top    : -7px;
    }

    input[type=checkbox] {
      appearance    : checkbox;
      vertical-align: middle;
      position      : absolute;
      left          : 0;
      top           : 50%;
      margin-top    : -7px;
    }

    textarea {
      resize : none;
      border : 1px solid #e5e5e5;
      outline: none;
    }

    label {
      position    : relative;
      padding-left: 20px;
      display     : inline-block;
    }

    input[type=text] {
      border     : 1px solid #ebebeb;
      height     : 40px;
      line-height: 40px;
      width      : calc(600px - 20px);
      outline    : none;
      padding    : 0 10px;
    }

    table {
      width : 100%;
      border: 0;

      td,
      th,
      tr {
        border     : 0;
        color      : #464646;
        font-size  : 14px;
        line-height: 40px;
        padding    : 0;
        display    : block;

        &:first-child {
          background: #fff;
        }
      }

      th {
        vertical-align: top;
        text-align    : left;
      }
    }

    textarea {
      width  : 580px;
      padding: 10px;
      display: block;
    }

    .clearfix {
      clear: both;
    }

    .cssSelect {
      width: 580px;

      &:nth-last-child(3) {
        margin-right: 0;
      }

      .selectBox {
        border: 1px solid #ebebeb;
      }
    }

    .group {
      .cssSelect {
        width       : 183.3333333333333px;
        margin-right: 15px;
      }
    }

    button[type=submit] {
      background-color: #1479d7;
      color           : #fff;
      border          : 0;
      border-radius   : 5px;
      padding         : 0 30px;
      height          : 40px;
      font-size       : 16px;
      outline         : none;
    }

    button[type=reset] {
      background-color: #ccc;
      color           : #fff;
      border          : 0;
      border-radius   : 5px;
      padding         : 0 30px;
      height          : 40px;
      font-size       : 16px;
      outline         : none;
    }
  }
}