<% var data = {
  title: "cool web"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
<main class="main page-animate">
  <article class="news" data-controller="news">
    <div class="container  m_B20">
      <div class="news-inner">
        <div class="news-left fl">
          <div class="ad_pic_scroll">
            <div class="swiper-container m_T10">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="lawyer-info">
            <div class="breadcrumbs m_T10">
              当前位置：<a href="">黑龙江消费网</a> &gt; <a href="">律师团</a> &gt; <a href="">刘学军律师</a>
            </div>
            <div class="inner p_20">
              <div class="title text-center m_T10 m_B5">刘学军律师</div>
              <div class="subtitle text-center m_T10 p_B30">黑龙江鼎铎律师事务所主任，黑龙江省律师协会涉外委员会委员</div>
              <div class="content m_T20">
                <div class="pic fl" style="background-image:url(img/lawyer.png)"></div>
                <p>中国政法大学法学硕士，同时具有律师、注册会计师、注册税务师、证券从业资格及商务英语等资格和能力。
                  黑龙江鼎铎律师事务所主任，黑龙江省律师协会涉外委员会委员，任某大型国企独立董事，市环保局项目评审专家，PPP项目专家，东北农业大学外聘指导教师。</p>
                <p>刘学军律师现担任大唐黑龙江分公司、中国电信哈尔滨分公司、中国系统集成公司黑龙江省分公司、国旅集团黑龙江省分公司等多家大中型企事业单位的法律顾问，办理了诸如某大型水利工程PPP方案、招投标与项目合同的编制；为某创业板上市公司提供上市法律业务；某大型工程施工纠纷；某国际知名药企商标权纠纷；省内某知名食品企业外观专利与立体商标纠纷；某大型运动服装销售企业虚假广告等。</p>
                <p>事业单位的法律顾问，办理了诸如某大型水利工程PPP方案、招投标与项目合同的编制；为某创业板上市公司提供上市法律业务；某大型工程施工纠纷；某国际知名药企商标权纠纷；省内某知名食品企业外观专利与立体商标纠纷；某大型运动服装销售企业虚假广告等。
                  中国政法大学法学硕士，同时具有律师、注册会计师、注册税务师、证券从业资格及商务英语等资格和能力。
                  刘学军律师现担任大唐黑龙江分公司、中国电信哈尔滨分公司、中国系统集成公司黑龙江省分公司、国旅集团黑龙江省分公司等多家大中型企事业单位的法律顾问，办理了诸如某大型水利工程PPP方案、招投标与项目合同的编制；为某创业板上市公司提供上市法律业务；某大型工程施工纠纷；某国际知名药企商标权纠纷；省内某知名食品企业外观专利与立体商标纠纷；某大型运动服装销售企业虚假广告等。
                  中国政法大学法学硕士，同时具有律师、注册会计师、注册税务师、证券从业资格及商务英语等资格和能力。
                </p>
              </div>
              <div class="share clearfix m_T20">
                <div class="fl bdsharebuttonbox" data-tag="share_1"><span class="fl">分享：</span><a class="bds_weixin" data-cmd="weixin"></a><a class="bds_sqq" data-cmd="sqq" href="#"></a><a class="bds_qzone" data-cmd="qzone"></a><a class="bds_tsina"
                    data-cmd="tsina"></a></div>
              </div>
              <div class="related-news m_T10">
                <div class="related-tit">
                  相关新闻
                </div>
                <div class="related-news-list">
                  <ul class="p_T10 p_B10">
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="pinglun m_T10">
                <div class="related-tit">
                  网友评论<span>&nbsp;&nbsp;&nbsp;&nbsp;文明上网理性发言，请遵守新闻评论服务协议</span>
                </div>
                <div class="pinglun-form m_T10 clearfix">
                  <form action="">
                    <div class="form-item m_T10">
                      <label for="name">姓名：</label>
                      <input type="text" name="name" id="name" value="" autocomplete="off">
                    </div>
                    <div class="form-item m_T10">
                      <label for="name">评分：</label>
                      <div class="radio"><input type="radio" name="rank" id="radio1" value="1"><label for="radio1"><span></span>1分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio2" value="2"><label for="radio2"><span></span>2分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio3" value="3"><label for="radio3"><span></span>3分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio4" value="4"><label for="radio4"><span></span>4分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio5" checked value="5"><label for="radio5"><span></span>5分</label></div>
                    </div>
                    <div class="form-item m_T10">
                      <label for="name">评论：</label>
                      <textarea name="name" autocomplete="off"></textarea>
                    </div>
                    <div class="form-item ">
                      <label for="name"></label>
                      <div class="inner clearfix p_T10 p_B10">
                        <button type="button" class="fr" name="button">发表评论</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="related-tit">
                  热门评论
                </div>
                <div class="pinglun-list">
                  <% for(var i=0;i<5;i++){%>
                  <div class="item p_T10 p_B10">
                    <div class="pinglun-info clearfix p_B10 p_T10">
                      <span>网友：<i>小狮子</i></span> <span>评价：<i>3分</i></span> <span>2019年6月3日</span>
                    </div>
                    <div class="pinglun-content">
                      重视思想政治建设，是我们党的特有优势和重要法宝。抓住了思想政治建设，就抓住了党的建设的魂和根。在“不忘初心、牢记使命”主题教育工作会议上，习主席深刻阐述了“思想政治受洗礼” 的重要性，并对党员干部提出了具体要求。认真学习贯彻习主席重要讲话，就要在主题教育中加强党员干部思想政治建设，筑牢信仰之基、补足精神之钙、把稳思想之舵。
                    </div>
                  </div>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= _.template(require('../includes/right.html'))(data) %>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        window._bd_share_config = {
          "common": {
            "bdText": '这是分享的标题',
            "bdComment": '我是通用分享设置,会出现在发送给QQ好友里的描述',
            "bdPic": "http://test.miniwangdai.com/public/images/invite/wechat.png", //分享的图像地址
            "bdStyle": "1", //按钮样式
            "bdSize": "16", //按钮大小
            "bdUrl": 'https://www.baidu.com', //分享的地址
            "bdDesc": '给你的好友留一句话吧',
          },
          "share": {},
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
      });
    </script>
  </article>
</main>

<%= _.template(require('../includes/footer.html'))(data) %>
