<% var data = {
  title: "cool web"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
<main class="main page-animate">
  <article class="news" data-controller="name_list">
    <div class="container  m_B20">
      <div class="news-inner">
        <div class="news-left fl">
          <div class="ad_pic_scroll">
            <div class="swiper-container m_T10">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="news-list">
            <div class="news-list-tit m_T10">
              <a class="tit fl on" href="">企业红榜</a>
              <a class="tit fl" href="">黑名单</a>
              <div class="breadcrumbs  fr">
                当前位置：<a href="">首页</a> &gt; <a href="">企业红榜 </a>
              </div>
            </div>
            <table class="name_list_left m_T10">
              <tr>
                <td width="296">公司名称</td>
                <td>统一社会信用代码</td>
                <td>类别</td>
                <td>操作</td>
              </tr>
              <% for(var i = 0;i<20;i++){ %>
              <tr>
                <td>重庆公路运输（集团）有限公司 </td>
                <td>915000002028007432</td>
                <td>优</td>
                <td><a href="name_info.html">查看&gt;</a></td>
              </tr>
              <%}%>
            </table>
            <div class="pagination m_T55 m_B60">
              <ul>
                <a href="">上一页</a>
                <a class="on" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">下一页</a>
              </ul>
            </div>
          </div>
        </div>
        <%= _.template(require('../includes/right.html'))(data) %>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {

      });
    </script>
  </article>
</main>

<%= _.template(require('../includes/footer.html'))(data) %>
