<% var data = {
  title: "cool web"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
<main class="main page-animate">
  <article class="news" data-controller="name_list">
    <div class="container  m_B20">
      <div class="news-inner">
        <div class="news-left fl">
          <div class="ad_pic_scroll">
            <div class="swiper-container m_T10">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="news-list">
            <div class="news-list-tit m_T10">
              <a class="tit fl on" href="">企业红榜</a>
              <a class="tit fl" href="">黑名单</a>
              <div class="breadcrumbs  fr">
                当前位置：<a href="">首页</a> &gt; <a href="">企业红榜 </a>
              </div>
            </div>
            <table class="name_list_left">
              <tr>
                <td>公司名称</td>
                <td>统一社会信用代码</td>
                <td>类别</td>
                <td>操作</td>
              </tr>
              <tr>
                <td>重庆公路运输（集团）有限公司 </td>
                <td>915000002028007432</td>
                <td>优</td>
                <td><a href="">查看&gt;</a></td>
              </tr>
            </table>
            <div class="pagination m_T55 m_B60">
              <ul>
                <a href="">上一页</a>
                <a class="on" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">下一页</a>
              </ul>
            </div>
          </div>
        </div>
        <div class="news-right fr">
          <div class="tousu">
            <img src="img/tousu_pic.jpg" class="tit m_T10" alt="">
            <div class="tousu-info">
              <a class="btn" href=""></a>
              <div class="inner">
                <div class="btn-list">
                  <a href=""><img src="img/tsgb.png" alt="">投诉公布</a>
                  <a href=""><img src="img/lst.png" alt="">律师团</a>
                  <a href=""><img src="img/txysq.png" alt="">通讯员申请</a>
                </div>
                <div class="tel-list">
                  <img class="flag" src="img/flag.png" alt="">
                  <div class="item">
                    <table>
                      <tr>
                        <td width="37" align="center" valign="middle"><img src="img/tel.png" alt=""></td>
                        <td width="80">投诉电话：</td>
                        <td>0451-82607315 </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>0451-82619315 </td>
                      </tr>
                    </table>
                  </div>
                  <div class="item">
                    <table>
                      <tr>
                        <td width="37" align="center" valign="middle"><img src="img/qq.png" alt=""></td>
                        <td width="80">维权Q群：</td>
                        <td>182186950</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>投诉QQ：</td>
                        <td>1462969852</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tousu-list clearfix">
            <div class="tit m_T10">
              <a href="">投诉爆料</a>
              <a class="more" href=""></a>
            </div>
            <ul class="m_T10">
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
              <li><a class="text-hidden" href=""><span></span>袁先生投诉国美（黑天鹅）店销售捆绑销售附袁先生投诉国美</a></li>
            </ul>
          </div>

          <div class="name-list clearfix m_T10">
            <div class="tit">
              <div class="inner">
                <a class="on" href="javascript:void(0)" data-nopjax="no">红名单</a>
                <a href="javascript:void(0)" data-nopjax="no">黑名单</a>
                <a class="more" href=""></a>
              </div>
            </div>

            <ul class="on m_T10">
              <li><a class="text-hidden" href=""><span class="c-1">1</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-2">2</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-3">3</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-4">4</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-5">5</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-6">6</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-7">7</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-8">8</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
            </ul>

            <ul class=" m_T10">
              <li><a class="text-hidden" href=""><span class="c-1">1</span>哈市开展“净网”行动保障网络餐饮食品安全1</a></li>
              <li><a class="text-hidden" href=""><span class="c-2">2</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-3">3</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-4">4</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-5">5</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-6">6</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-7">7</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
              <li><a class="text-hidden" href=""><span class="c-8">8</span>哈市开展“净网”行动保障网络餐饮食品安全</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {

      });
    </script>
  </article>
</main>

<%= _.template(require('../includes/footer.html'))(data) %>
