<% var data = {
  title: "cool web"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
<main class="main page-animate">
  <article class="news" data-controller="news">
    <div class="container  m_B20">
      <div class="news-inner">
        <div class="news-left fl">
          <div class="ad_pic_scroll">
            <div class="swiper-container m_T10">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href=""><img src="img/scroll_ad.jpg" alt=""></a></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="news-info">
            <div class="breadcrumbs m_T10">
              当前位置：<a href="">黑龙江消费网</a> &gt; <a href="">新闻中心</a> &gt; <a href="">新闻详细</a>
            </div>
            <div class="inner p_20">
              <div class="headlinetit text-center m_T10">校园内持球拍制服入室行窃逃跑男</div>
              <div class="title text-center m_T10">“紫衣女侠”脚踩小偷引热议</div>
              <div class="subtitle text-center m_T10">律师说法：此举属合理支付行为，并不违法</div>
              <div class="other text-center m_T20 p_B15">
                作者：佚名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文章来源：中国消费者报&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更新时间：2017/4/27 10:05:00
              </div>
              <div class="content m_T10">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为贯彻落实中央《关于推动传统媒体和新兴媒体融合发展的指导意见》，推动建立健全传统媒体和新兴媒体版权合作机制，规范网络转载版权秩序，根据国家版权局《关于规范网络转载版权秩序的通知》有关要求，t声明如下：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 中国消费者报采访(拍摄)、编辑、制作、刊登(播出)的新闻作品，包括但不限于本单位首次公开发表的消息通讯、采访报道、调查评论、档案纪录等各类新闻作品，是中国消费者报重要的版权资产。中国消费者报作为前述新闻作品的版权人，依法对其享有完整的著作权。请各新闻媒体、网络服务商和个人严格遵守著作权相关法律法规。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.任何机构或个人，包括但不限于电视台、广播电台、报纸、期刊、互联网服务提供商以及网络用户，除著作权法规定的合理使用外，未经中国消费者报书面许可，不得转载、剪辑、修改、摘编、转贴或以其他方式复制并传播前述新闻作品。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.各新闻媒体、网络服务商和个人在获得授权转载中国消费者报作品时，应自觉为著作权人署名，不歪曲、篡改原文及标题。转载作品应注明来源，转载网站发表文章时还应注明来源网站的链接地址。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 中国消费者报将针对前述新闻作品加大版权监控和维权力度，对于未经许可使用前述新闻作品的违法行为将严格依法追究侵权责任。各新闻媒体、网络服务商和个人在接到中国消费者报发出的维权通知后，应及时删除侵权内容否则将依法承担侵权责任。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 自本声明发布之日起，各新闻媒体、网站和个人应主动自查并删除涉嫌侵权的内容。如需继续使用相关内容请及时联系中国消费者报进行版权合作。</p>
              </div>
              <div class="share clearfix m_T20">
                <div class="fl bdsharebuttonbox" data-tag="share_1"><span class="fl">分享：</span><a class="bds_weixin" data-cmd="weixin"></a><a class="bds_sqq" data-cmd="sqq" href="#"></a><a class="bds_qzone" data-cmd="qzone"></a><a class="bds_tsina"
                    data-cmd="tsina"></a></div>
                <div class="fr">(新闻录入:冬阳 责任编辑:冬阳)</div>
              </div>
              <div class="related-news m_T10">
                <div class="related-tit">
                  相关新闻
                </div>
                <div class="related-news-list">
                  <ul class="p_T10 p_B10">
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                    <li><a class="text-hidden" href=""><i>&bull;</i>新技术、新玩法不断涌现 2018年零售行业商机何在？<span>[04/26]</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="pinglun m_T10">
                <div class="related-tit">
                  网友评论<span>&nbsp;&nbsp;&nbsp;&nbsp;文明上网理性发言，请遵守新闻评论服务协议</span>
                </div>
                <div class="pinglun-form m_T10 clearfix">
                  <form action="">
                    <div class="form-item m_T10">
                      <label for="name">姓名：</label>
                      <input type="text" name="name" id="name" value="" autocomplete="off">
                    </div>
                    <div class="form-item m_T10">
                      <label for="name">评分：</label>
                      <div class="radio"><input type="radio" name="rank" id="radio1" value="1"><label for="radio1"><span></span>1分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio2" value="2"><label for="radio2"><span></span>2分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio3" value="3"><label for="radio3"><span></span>3分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio4" value="4"><label for="radio4"><span></span>4分</label></div>
                      <div class="radio"><input type="radio" name="rank" id="radio5" checked value="5"><label for="radio5"><span></span>5分</label></div>
                    </div>
                    <div class="form-item m_T10">
                      <label for="name">评论：</label>
                      <textarea name="name" autocomplete="off"></textarea>
                    </div>
                    <div class="form-item ">
                      <label for="name"></label>
                      <div class="inner clearfix p_T10 p_B10">
                        <button type="button" class="fr" name="button">发表评论</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="related-tit">
                  热门评论
                </div>
                <div class="pinglun-list">
                  <% for(var i=0;i<5;i++){%>
                  <div class="item p_T10 p_B10">
                    <div class="pinglun-info clearfix p_B10 p_T10">
                      <span>网友：<i>小狮子</i></span>  <span>评价：<i>3分</i></span> <span>2019年6月3日</span>
                    </div>
                    <div class="pinglun-content">
                      重视思想政治建设，是我们党的特有优势和重要法宝。抓住了思想政治建设，就抓住了党的建设的魂和根。在“不忘初心、牢记使命”主题教育工作会议上，习主席深刻阐述了“思想政治受洗礼” 的重要性，并对党员干部提出了具体要求。认真学习贯彻习主席重要讲话，就要在主题教育中加强党员干部思想政治建设，筑牢信仰之基、补足精神之钙、把稳思想之舵。
                    </div>
                  </div>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= _.template(require('../includes/right.html'))(data) %>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        window._bd_share_config = {
          "common": {
            "bdText": '这是分享的标题',
            "bdComment": '我是通用分享设置,会出现在发送给QQ好友里的描述',
            "bdPic": "http://test.miniwangdai.com/public/images/invite/wechat.png", //分享的图像地址
            "bdStyle": "1", //按钮样式
            "bdSize": "16", //按钮大小
            "bdUrl": 'https://www.baidu.com', //分享的地址
            "bdDesc": '给你的好友留一句话吧',
          },
          "share": {},
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
      });

    </script>
  </article>
</main>

<%= _.template(require('../includes/footer.html'))(data) %>
